<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title>SmartBoard</title>
    
    <!-- Main styles for this application-->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-minimized" src="static/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        
      </ul>
      <ul class="nav navbar-nav ml-auto">
        
        
        <li class="nav-item d-md-down-none">
          
        </li>
        <li class="nav-item dropdown">
          
          
        </li>
      </ul>
      
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="blank">
                <i class="nav-icon icon-speedometer"></i> SmartBoard
                <span class="badge badge-primary">NEW</span>
              </a>
            </li>
            <li class="nav-title">Dashboard</li>
            
            <li class="nav-item nav-dropdown">
              <a class="nav-link" href="account">
                <i class="nav-icon icon-puzzle"></i> Account</a>
            
            <li class="nav-item nav-dropdown">
              <li class="nav-item nav-dropdown">

                  <a class="nav-link" href="model">
                    <i class="nav-icon icon-puzzle"></i> Model</a>
                  <a class="nav-link" href="logout">
                    <i class="nav-icon icon-puzzle"></i> Logout</a>
         </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        {% block content %}

        <!-- Breadcrumb-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">
            <a href="#">Admin</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">            
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn"></div>
        </div>
        {% endblock content %}

      </main>
      
  </body>
</html>
