<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title>SmartBoard</title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any" />
    
   
    <!-- Main styles for this application-->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    
    
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="static/img/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="static/img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
      </a>
      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="nav navbar-nav d-md-down-none">
        
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
        <div class="dropdown-menu dropdown-menu-right">
        </div>
        </li>
      </ul>
      
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="index">
                <i class="nav-icon icon-speedometer"></i> SmartBoard
                <span class="badge badge-primary">NEW</span>
              </a>
            </li>
            <li class="nav-title">Dashboard</li>
            <li class="nav-item">
              <a class="nav-link" href="about">
                <i class="nav-icon icon-drop"></i> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">
                <i class="nav-icon icon-drop"></i> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register">
                <i class="nav-icon icon-pencil"></i> Register</a>
            </li>
           
            </li>
         </ul>

        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
      </div>
      <main class="main">
        {% block content %}

        <!-- Breadcrumb-->
        <ol class="breadcrumb">         
          
        <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn"></div>
        </div>
        {% endblock content %}

      </main>
   <script src="static/js/main.js"></script>
  </body>
</html>
