<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/amsify.suggestags.css') }}">
    
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.amsify.suggestags.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>


    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>
  <body>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand mr-4" href="/"> SMART BOARD </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('about') }}">ABOUT</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('NewModal') }}">MODAL</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">ACCOUNT</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">LOGOUT</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">LOGIN</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">REGISTER</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    
    {% block content %}{% endblock %}

  
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  </body>
</html>