{% extends "blank.html" %}
{% block content %}
<html>
    <head>
        <title>SheetJS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="static/assets/css/sheetjs.css">
    
        <style type="text/css"></style>
    </head>
    <body>
        <br>
        <br>
    <div style="text-align: center;">
        <h4 >If you want to see your file in more detail</h4>
        <div> <a href="preview"> <img  alt="sheetjs pic" src="static\assets\img\banner.png"  width="290" height="100"> </a>
        </div> 
    </div>    
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
        <h4>Start by creating your own model</h4>
        <div> <a href="model"> <img  alt="model pic" src="static\assets\img\images (4).png"  width="250" height="150"> </a>
        </div> 
    </div> 
    

    </body>
</html>
{% endblock content %}