{% extends "layout.html" %}
{% block content %}
<div class="text-center mt-5">
    <h1 class="display-3 mb-5"> Create your Model </h1>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <form id="CreateModelForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="ModalName">Name of modal</label>
          <input type="text" class="form-control" id="ModalName" placeholder="My modal" name="ModalName">
        </div>
      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file" name="file">
          <label class="custom-file-label" for="file">Choose file</label>
        </div>
      </div>
      <a href="/preview" class="btn btn-block btn-primary">Click here to preview yout file</a>
      <div class="form-group">
        <label for="type">Select Algorithme</label>
        <select class="form-control" id="type" name="type">
          <option value="LinearRegression">Linear reagression</option>
          <option value="NormalEquation">Normal equation</option>
          <option value="DecisionTree">Decision tree</option>
        </select>
      </div>
      <div class="form-group">
        <input name="input" placeholder="Input columns" value="" class="form-control">
      </div>
      <div class="form-group">
        <input name="output" placeholder="Output columns" value="" class="form-control">
      </div>
        <button class="btn btn-primary btn-block" onsubmit="Create(e)">Create</button>
        </form>
    </div>
</div>

{% endblock content %}