{% extends "about.html" %}
{% block content %}
<div class="text-center mt-5">
    <p>Open source software is doing something very similar to what science has been doing 
    over the past couple hundred years.  General science - research done into physics,
     biology, mathematics, etc - is done in an environment of peer review.  That means
      that science by its very nature is open source; you have to share your 
      science with other people so that they can evaluate it.
      When it's agreed to be solid, everyone can use that knowledge
     to keep advancing.
    </p>
</div>

{% endblock content %}